* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}
